<p class = "label">Todo: <%= todo.body %> </p>
<p class = "status">Status: <% if todo.completed == true %>
                              <%= "complete" %>
                            <% else %>
                              <%= "incomplete" %>
                            <% end %>
</p>
<p class = "delete_todo"><%=button_to "Delete This Todo", { action: "destroy", id: todo.id }, :method => "delete"%></p>
<p class = "complete_todo"><%=button_to "Mark as Completed", { action: "update", id: todo.id, completed: true }, :method => "put", data: { disable_with: 'Marking complete...'} %></p>

